.schine {
    width: 320px;
    height: 150px;
    background-color: rgb(107, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.prients {
    width: 320px;
    height: 80px;
    background-color: rgb(192, 168, 216);
    display: flex;
    justify-content: center;
}

.child {
    width: 80px;
    height: 80px;
    background-color: rgb(11, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-radius: 50%;
}

.Tushar {
    width: 320px;
    height: 550px;
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 10px;
}

@media(max-width:576px) {
    .Tushar {
        width: 200px;
        height: 400px;
    }
    .schine {
        width: 200px;
        background: blue;
    }
    .prients {
        width: 200px;
        height: 50px;
    }
    .child {
        width: 50px;
        height: 50px;
    }
}

@media(min-width:577px) and (max-width:768px) {
    .Tushar {
        width: 300px;
        height: 500px;
    }
    .schine {
        width: 300px;
        background: yellow;
    }
    .prients {
        width: 300px;
        height: 70px;
    }
    .child {
        width: 70px;
        height: 70px;
    }
}

@media(min-width:769px) and (max-width:992px) {
    .Tushar {
        width: 400px;
    }
    .schine {
        width: 400px;
        background: brown;
    }
    .prients {
        width: 400px;
    }
}